.DS_Store
SC-Website-Project/
PythonPortfolio/Goldsmiths/Assessments/.DS_Store
.DS_Store
.vscode/settings.json
.DS_Store
Goldsmiths/.DS_Store
Goldsmiths/Foundations of Programing/.DS_Store
Goldsmiths/Foundations of Programing/Assessments/.DS_Store
Personal Projects/.DS_Store
